.modal.fade#modal-info(tabindex="-1", role="dialog", aria-hidden="true")
  .modal-dialog.modal-dialog-centered(role="document")
    .modal-content
      .modal-box
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam, quo praesentium cupiditate soluta eum aliquid, fuga expedita dolor quas eaque itaque saepe sequi vitae autem at laboriosam temporibus impedit tempore!
        button.btn.btn-primary.modal__close(data-bs-dismiss="modal" aria-label="Close") Close
