section.section
  .container
    .section__header
      h2.section__title Section Title

      button(data-toggle="modal", data-target="#modal-info").section__btn
        +icon("plus")

    .row.mb-4
      .col-md-3
        img(src="img/block_1.jpg", alt="block")
      .col
        h3 Lorem, ipsum dolor.
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, incidunt sit maiores rem nihil molestias dolorem soluta ipsa reprehenderit accusamus iste dignissimos laborum illo odio eveniet? Recusandae quia odio delectus.

    .row.mb-4
      .col-md-3
        img(src="img/block_1.jpg", alt="block")
      .col
        h3 Lorem, ipsum dolor.
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, incidunt sit maiores rem nihil molestias dolorem soluta ipsa reprehenderit accusamus iste dignissimos laborum illo odio eveniet? Recusandae quia odio delectus.

    .row.mb-4
      .col-md-3
        img(src="img/block_1.jpg", alt="block")
      .col
        h3 Lorem, ipsum dolor.
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, incidunt sit maiores rem nihil molestias dolorem soluta ipsa reprehenderit accusamus iste dignissimos laborum illo odio eveniet? Recusandae quia odio delectus.

    .row.mb-4
      .col-md-3
        img(src="img/block_1.jpg", alt="block")
      .col
        h3 Lorem, ipsum dolor.
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, incidunt sit maiores rem nihil molestias dolorem soluta ipsa reprehenderit accusamus iste dignissimos laborum illo odio eveniet? Recusandae quia odio delectus.
