extends ../layouts/main

block content
  .container
    h1 Info

    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe assumenda odio cupiditate iusto esse hic, ipsam error ad eos magnam accusantium doloribus praesentium earum. Exercitationem, itaque. Ut veniam blanditiis assumenda.
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe assumenda odio cupiditate iusto esse hic, ipsam error ad eos magnam accusantium doloribus praesentium earum. Exercitationem, itaque. Ut veniam blanditiis assumenda.
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe assumenda odio cupiditate iusto esse hic, ipsam error ad eos magnam accusantium doloribus praesentium earum. Exercitationem, itaque. Ut veniam blanditiis assumenda.
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe assumenda odio cupiditate iusto esse hic, ipsam error ad eos magnam accusantium doloribus praesentium earum. Exercitationem, itaque. Ut veniam blanditiis assumenda.
